.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 38px;
  border-radius: 4px;

  color: #fff;
  font-size: 16px;
  cursor: pointer;

  background-color: $color-primary;
  @include hover(background-color, darken($color-primary, 10%));

  &:disabled {
    background-color: lightgray;
    color: gray;
    border: 1px solid silver;
    cursor: default;
  }
}

.flat-button {
  color: $color-primary;
  @include hover(color, darken($color-primary, 10%));
}
