.nav {
  &__list {
    display: flex;
    height: 100%;
    margin-bottom: 0;
  }

  &__link {
    display: inline-block;
    color: $color-third;
    padding: 10px 0;

    @include hover(color, $color-primary);

    &--active {
      color: $color-secondary;
    }
  }

  &__item {
    margin-right: 30px;

    &:last-child {
      margin-right: 0;
    }
  }
}
