$resolution-mobile: 700px;
$resolution-tablet: 850px;
$resolution-desktop: 1200px;
$resolution-max: 2560px;

$container-width: 1170px;

$color-primary: #ef5b4c;
$color-secondary: #007bff;
$color-third: #4c4b4b;

$bg-color-primary: #fff;
$bg-color-secondary: #f9f9f3;
