@import "reset";
@import "variables";
@import "typography";
@import "mixins";
@import "components";

html {
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
  font-size: 16px;
  color: #212529;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  margin: 0;
  background-color: $bg-color-primary;
}

.app {
  max-width: $container-width;
  margin: 0 auto;
}

.container-custom {
  padding: 0 30px;
}

@media (max-width: $resolution-mobile) {
  .container-custom {
    padding: 0 15px;
  }
}
